import { BrandDataProps, connectIagBrand } from '@iag-common/iag-brand-context';
import React from 'react';
import QuickLinks from '../../components/quick-links/QuickLinks';
import PageLayout from '../../components/shared/layout/PageLayout';
import FaqSection from './FaqSection';
import NomiBanner from './NomiBanner';

const ContactUsUplift: React.FC<BrandDataProps> = () => {
  return (
    <PageLayout
      leftSection={
        <div className="w-full">
          <FaqSection />
        </div>
      }
      rightSection={
        <div className="p-6">
          <div>
            <QuickLinks />
          </div>
          <div className="md:flex hidden">
            <NomiBanner />
          </div>
        </div>
      }
    />
  );
};

export default connectIagBrand()(ContactUsUplift);
